/* Terminus font */
@font-face {
    font-family: 'Terminus';
    src: url('/fonts/terminus.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

/* General Styles */
body {
    font-family: 'Terminus', sans-serif;
    background-color: #0b0c2a; /* Deep space blue */
    color: #d4d4f5; /* Light gray-blue text */
    margin: 0;
    padding: 0;
    background-image: url('/images/bg_space_seamless.png'); /* Cosmic background */
    background-size: cover;
    background-attachment: fixed;
}

header {
    font-family: 'Terminus', sans-serif;
    text-align: center;
    color: #00ff00; /* Neon green text */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px #000;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 33%;
    margin-left: 33%;
}

h1 {
    font-family: 'Terminus', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.5em;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Terminus', sans-serif;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.5em;
    letter-spacing: 2px;
}

p {
    font-family: 'Terminus';
}

section {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Recent Games Section */
#recent-games {
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent black */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#recent-games h2 {
    color: #f4f4f4; /* Off-white text */
    text-shadow: 1px 1px 2px #000;
}

.game-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.game-card {
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 12.5%;
    background-color: #111;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.game-card a {
    text-decoration: none;
}

.game-card a:hover {
    text-decoration: underline;
    text-decoration-color: #00ff00;
}

.game-card img {
    width: 120px;
    height: auto;
    border-radius: 8px;
}

.game-card p {
    color: #f4f4f4; /* Neon green */
    font-size: 1.1em;
    margin-top: 10px;
}

.game-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ff00;
}

/* header Section */
#header {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* Consoles Section */
#consoles {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#consoles h2 {
    color: #f4f4f4;
    text-shadow: 1px 1px 2px #000;
}

.console-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    justify-items: center;
}

.console-card {
    background-color: #111;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.console-card img {
    width: 80px;
    height: auto;
}

.console-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ff00;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    color: #00eaff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

